
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 0;
    height: 100vh;
  }
  
  .container.dark-mode {
    background: linear-gradient(to right, #2a2a2a, #3a3a3a);
    color: white;
  }
  
  .container.light-mode {
    background: linear-gradient(to right, #1e3c72, #2a5298);
    color: black;
  }
  
  button {
    background-color: #ff5722;
    padding: 10px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .sidebar {
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    transition: width 0.3s ease-in-out;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
  }
  
  .main-content {
    width: 100%;
    max-width: 1000px;
    padding: 16px 0;
    text-align: center;
  }
  
  .theme-toggle {
    margin-bottom: 20px;
    background-color: #ff5722;
    border: none;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
    color: white;
  }
  
  .image-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }


  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.home-button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.home-button:hover {
    background-color: #0056b3;
}
